<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="emp" class="com.yash.core.Employee">
	
		<constructor-arg value="1" type="int"/>
		<constructor-arg value="pranaw"/>
		<constructor-arg ref="address"/>
	</bean>
	
	<bean id="address" class="com.yash.core.Address">
		<constructor-arg value="magarpatta"/>
		<constructor-arg value="pune"/>
		<constructor-arg value="india"/>
	</bean>

</beans>