<!--<p>Add Question</p>

  <form method="post">
    <div class="form-group">
      <tr>
        <td>Question</td>
        <td><input type="text" [(ngModel)]='question.questionName' name="questionName"> </td>

      </tr>

    <tr>
      <td>Option 1:</td>
      <td><input type="text" [(ngModel)]="question.option_1" name="option_1"> </td>
    </tr>
    <tr>
      <td>Option 2:</td>
      <td><input type="text" [(ngModel)]="question.option_2" name="option_2"> </td>
    </tr>
    <tr>
      <td>Option 3:</td>
      <td><input type="text" [(ngModel)]="question.option_3" name="option_3"> </td>
    </tr>
    <tr>
      <td>Option 4:</td>
      <td><input type="text" [(ngModel)]="question.option_4" name="option_4"> </td>
    </tr>
    <tr>
      <td>Correct Answer:</td>
      <td><input type="text" [(ngModel)]="question.correct_answer" name="correct_answer"> </td>
    </tr>

    <button type="submit" (click)='addQuestion(question)' >Add</button>
    </div>
  </form>-->

<!--<h3>Create Student</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="studentsaveform" #savestudent (ngSubmit)="saveStudent(saveStudent)">
          <div class="form-group">
              <label for="name">Question</label>
              <input type="text" class="form-control"  formControlName="questionName" data-toggle="tooltip"
                 data-placement="right" title="Enter Student Name" >
                </div>
          </div>
          <div class="form-group">
              <label for="name">Option A</label>
              <input type="text" class="form-control"  formControlName="option_1" data-toggle="tooltip"
                 data-placement="right" title="Enter A" >
                </div>
          </div>
          <div class="form-group">
              <label for="name">Student Name</label>
              <input type="text" class="form-control"  formControlName="option_2" data-toggle="tooltip"
                 data-placement="right" title="Enter B" >
                </div>
          </div>
          <div class="form-group">
              <label for="name">Student Name</label>
              <input type="text" class="form-control"  formControlName="option_3" data-toggle="tooltip"
                 data-placement="right" title="Enter C" >
                </div>
          </div>
          <div class="form-group">
              <label for="name">Student Name</label>
              <input type="text" class="form-control"  formControlName="option_4" data-toggle="tooltip"
                 data-placement="right" title="Enter D" >
                </div>
          </div>
          <div class="form-group">
              <label for="name">Student Name</label>
              <input type="text" class="form-control"  formControlName="correct_answer" data-toggle="tooltip"
                 data-placement="right" title="Enter correct" >
                </div>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Student Added SuccessFully!</h4>
         <button (click)="addStudentForm()" class='btn btn-primary'>Add More Student</button>
      </div>
  </div>
  <div class="col-sm-4"></div>
</div>-->
